/* --- Fonts --- */
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}


@theme {
  --font-sans: "Inter", system-ui, -apple-system, "Segoe UI", Roboto,
               "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji",
               "Segoe UI Emoji", "Segoe UI Symbol";
}

:root { font-family: var(--font-sans); }

/* --- Navbar underline --- 
a[data-nav].active {
    text-decoration: underline;
    opacity: 1 !important;
  }
    */