/* Video header */

.videoStructure {
    @apply relative h-svh flex flex-col bg-blue-950
}

.videoView {
    @apply absolute flex-col top-0 left-0 w-full h-full object-cover opacity-40
}

.videoContent {
    @apply relative z-10 flex flex-col items-center justify-center w-full h-full
}

.videoTitle {
    @apply text-xl lg:text-3xl text-white opacity-90 mt-1
}

.headerTitle {
    @apply text-2xl lg:text-4xl text-white font-bold mt-60
}

.headerImg2 {
    @apply lg:h-10 lg:w-10 h-10 w-10 opacity-90 animate-bounce mt-40
}

/* Nav bar */

.navbarStructure {
    @apply fixed top-0 inset-x-0 z-50 transition-all duration-300 bg-black/70 backdrop-blur border-b border-black/5
}

.navbarView {
    @apply mx-auto max-w-6xl px-4
}

.navbarContent {
    @apply h-14 flex items-center justify-between
}

.navbarHover {
    @apply flex transition lg:hover:scale-110
}

.navbarImgLeft {
    @apply font-bold text-sm text-white transition lg:hover:scale-110
}

.navbarUl {
    @apply flex lg:gap-6 gap-2 text-xs text-white
}

/* Sections */

.presentationStructure {
    @apply text-center bg-stone-100 pt-5 pb-2
}

.footerBar {
    @apply text-center pb-4 pt-1 lg:text-base text-sm font-bold bg-stone-100
}

.socialStructure {
    @apply text-center bg-stone-100 pt-5  pb-9
}

.socialLine {
    @apply flex ml-5 mr-5 gap-7 justify-center
}

.socialSize {
    @apply relative lg:h-20 lg:w-14 h-12 w-12 scale-75
}

.socialLink{
    @apply absolute z-20 inset-0 hover:bg-stone-100/20
}

.buttonsCardContent {
    @apply text-white bg-blue-600 rounded-4xl lg:p-3 py-3 px-2 hover:bg-blue-500 hover:scale-110 lg:text-lg text-base font-semibold flex mx-auto transition w-52 h-12 justify-center items-center
}

.buttonsCardContent2 {
    @apply text-white bg-blue-600 rounded-sm border-4 border-blue-600 lg:p-3 py-2 px-2 hover:bg-blue-500 hover:border-blue-500 hover:scale-110 lg:text-lg text-base font-semibold flex mx-auto transition w-40 h-10 justify-center items-center
}

.contactSubtitle {
    @apply flex text-balance lg:text-2xl/11 text-base/8 mb-5 lg:w-3xl lg:mx-auto mx-2 justify-center
}

.contactButton {
    @apply text-balance lg:text-2xl/11 text-base/8 mb-5 ml-3 mr-3 font-semibold
}

.socialStructureChild {
    @apply flex lg:flex-row flex-col justify-center gap-5 mx-3
}

.projectSection {
    @apply bg-white border border-gray-300 rounded-xl shadow-lg hover:shadow-xl transition hover:scale-105
}

.projectImg {
    @apply w-full h-52 object-cover rounded-t-xl
}

.projectView {
    @apply flex flex-wrap text-white text-xs mb-4
}

.projectContent {
    @apply bg-blue-700 rounded-lg pr-2 pl-2 py-1 mr-1
}

.projectWebsite {
    @apply bg-green-700 text-white rounded-sm px-3 py-1 hover:bg-green-600
}

.skillsStructure {
    @apply flex flex-wrap justify-center mb-3 lg:gap-3 gap-2 mx-auto
}

.skillsContent1 {
    @apply bg-linear-to-r from-blue-800 to-indigo-600 rounded-3xl lg:pr-7 lg:pl-7 pr-5 pl-5 py-1 text-white
}

.skillsContent2 {
    @apply bg-linear-to-r from-blue-800 to-indigo-600 rounded-3xl pr-7 pl-7 py-1 text-white
}

/* Titles */

.presentationView {
    @apply mb-5 font-extralight italic lg:text-4xl text-3xl ml-5 mr-5 lg:w-6/12 w-auto
}

.projectTitle {
    @apply mb-5 font-bold lg:text-3xl text-xl
}

.skillsSubtitle {
    @apply mb-5 font-semibold italic lg:text-3xl text-xl
}
