---
const { textPresentation } = Astro.props;
---

<div class="pt-10">
  <div class="presentationStructure flex justify-center">
    <h1 class="presentationView">"{textPresentation.presentation.tagline}"</h1>
  </div>
</div>
