---
const { textSkills } = Astro.props;
---

<div class="pt-10">
  <div class="socialStructure">
    <h1 class="mb-5 font-bold lg:text-3xl text-xl">
      {textSkills.skills.title}
    </h1>
    <h2 class="mb-2 skillsSubtitle">
      {textSkills.skills.subtitle1}
    </h2>

    <div class="mb-10">
      <div
        class="skillsStructure w-xs lg:w-xl"
      >
        <span
          class="skillsContent1"
        >
          HTML
        </span>
        <span
          class="skillsContent2"
        >
          CSS
        </span>
        <span
          class="skillsContent2"
        >
          Tailwind CSS
        </span>
        <span
          class="skillsContent2"
        >
          JavaScript
        </span>

        <span
          class="skillsContent2"
        >
          TypeScript
        </span>
        <span
          class="skillsContent2"
        >
          Astro
        </span>
        <span
          class="skillsContent2"
        >
          Vercel
        </span>
        <span
          class="skillsContent2"
        >
          Sanity
        </span>
      </div>
    </div>

    <h2 class="mb-2 skillsSubtitle">
      {textSkills.skills.subtitle2}
    </h2>

    <div class="mb-10">
      <div
        class="skillsStructure w-xs lg:w-xl"
      >
        <span
          class="skillsContent1"
        >
          React.js
        </span>
        <span
          class="skillsContent2"
        >
          Next.js
        </span>
        <span
          class="skillsContent2"
        >
          Three.js
        </span>
        <span
          class="skillsContent2"
        >
          Supabase
        </span>
      </div>
    </div>

    <h2 class="mb-2 skillsSubtitle">
      {textSkills.skills.subtitle3}
    </h2>

    <div>
      <div
        class="skillsStructure w-xs lg:w-2xl"
      >
        <span
          class="skillsContent1"
        >
          WordPress
        </span>
        <span
          class="skillsContent2"
        >
          Shopify
        </span>
        <span
          class="skillsContent2"
        >
          Figma
        </span>
        <span
          class="skillsContent2"
        >
          Git
        </span>

        <span
          class="skillsContent2"
        >
          GitHub
        </span>
        <span
          class="skillsContent2"
        >
          Terminal / CMD
        </span>
        <span
          class="skillsContent2"
        >
          Photopea
        </span>
        <span
          class="skillsContent2"
        >
          Visual Studio Code
        </span>
      </div>
    </div>
  </div>
</div>
