---
import "../styles/global.css";
const { lang = "en", textMeta } = Astro.props;
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" href="/favicon.ico" type="image/ico" sizes="32x32" />
    <link
      rel="icon"
      href="/favicon.ico"
      type="image/ico"
      sizes="198x198"
    />

    <title>{textMeta.meta.title}</title>
    <meta name="description" content={textMeta.meta.description} />
  </head>
  <body class="relative min-h-[100svh]">
    <div class="relative z-10">
      <slot />
    </div>
  </body>
</html>
